@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameTracker!</h1>
    <p class="lead">Your ultimate destination for tracking your video games collection.</p>
    <p>Start by <a asp-area="" asp-page="/VideoGames/Create">adding</a> your favorite video games to your collection.</p>
    <img src="~/images/videogame.jpg" class="img-fluid" alt="Game Controller" style="max-width: 300px;" />
</div>